<header>
    <div class="grid grid-rows-1 grid-flow-col">
    <a class="navbar-brand" href="{{ url_for('views.home') }}">
        <img src="static/img/logo/33.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top mx-2">
        Welcome to PetZilla
      </a>
        <p></p>
        <nav>
            
            <ul>
                
                <li><a href="{{ url_for('views.home') }}">Products</a></li>
                <li>
                <a href="{{ url_for('views.appointment') }}" >Vet Appoinment</a>
                </li>
                
                
                <li><a href="mailto:talk.to.petzilla@petzila.org?subject=i%20need%20this&body=dear%2C%0A%20%20%20%20Hi%20how%20are%20you">Contact Us</a></li>

                {% if 'user_id' not in session %}                
                <li><a id="login" href="/login">Login in</a></li>
                <li><a id="signup" href="/sign-up">Sign Up</a> </li>
                {% else %}
                <li><a  href="{{ url_for('auth.logout') }}">Logout</a></li>
                <li><a  href="{{ url_for('views.blog') }}">Blog</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>